In [ ]:
print('Hello World')

In [ ]:
print('.. >> .. >> .. >> .. >> ..')

In [ ]:
print('_/\_')

In [ ]:
print('....../\......')

In [ ]:
x = '5'

In [ ]:
print(x+1)

In [ ]:
print(int(x)+1)

In [ ]:
clear()

In [ ]:
#bitwise operators AND, OR, XOR, NOT (~), RIGHT SHIFT (>>), LEFT SHIFT (<<)

In [ ]:
lista = ['netflix', 'prime', 'hotstar', 'zee5', ['disney', 'hbo', 'tv+']]

In [ ]:
if lista[0] == 'prime' :
    print('first condition')
    
elif lista[0] < 'prime' :
    print('2nd')
    
else :
    print('else condition')

In [ ]:
#while

In [ ]:
i = 0
while i < 5:
    print(i)
    i = i + 1

In [ ]:
#infinite loop "while (True)"

In [ ]:

#for loop

In [ ]:
#for each loop will automatically iterate inside lists..

In [ ]:
lista = [1,2,3,4,5,[1,2]]

In [ ]:
for var in lista:
    print (var)

In [ ]:
print(type(var))

In [ ]:
for var in lista:
    print(type(var))

In [ ]:
for var in lista:
    if var is not list:
        print (var)
    else :
        print ('Var variable is not a list type')

In [ ]:
for i in range(0, 3):
    print(lista[i])

In [ ]:
for i in range(0, 13, 3):
    print(i)

In [ ]:
# for i in range 0 to 13 (incl 0 excl 13), print values of i incrementing by 3.

In [ ]:
#enumerate()

In [ ]:
#zen of python

In [ ]:
import this

In [ ]:
#for within for

In [ ]:
for i in range(0, 3):
    
    for j in range(0, 3):
        
        if(i==j):
            print ('lunch break at 2pm')
            continue;
        else:
            print('no lunch break')
    print ('no tea break too')

In [ ]:
for i in range(0, 3):
    
    for j in range(0, 3):
        
        if(i==j):
            print ('lunch break at 2pm')
            break;
        else:
            print('no lunch break')
    print ('no tea break too')

In [ ]:
lista = ['netflix', 'prime', 'hotstar', 'zee5', 'disney', 'hbo', 'tv+']
listb = ['zee5', 'sonyliv', 'voot', 'disney']
listc = ['tv+', 'judo', 'hbo']

In [ ]:
for i in listc:
    if (i in lista):
        print(i)
        break;
    
else:
    print('no')

In [ ]:
#we can have else condition for for, while, try, catch, finally cases also*

In [ ]:
#functions

In [ ]:
def function():
    print('just a function')
    print('to say hello')

In [ ]:
def funcc():
    return 78, 89, 'hello', [4,5,6]

In [ ]:
a,b,c,d = funcc()

In [ ]:
c

In [ ]:
listy = [funcc()]

In [ ]:
listy

In [ ]:
function()

In [ ]:
def funcd(la, lb, lc):
    print ('la =', la)
    print ('lb =', lb)
    print ('lc =', lc)
    return None

In [ ]:
funcd(10,20,30)

In [ ]:
def f(19,23,34):
    print('la = ', la)
    print('lb = ', lb)

In [ ]:
def f(la, lb):
    print('la= ', la)
    print('lb= ', lb)

In [ ]:
f(19,34)

In [ ]:
f(lb = 23)

In [ ]:
f(la = 45, lb = 34)

In [ ]:
def f():
    return 'hello'

In [ ]:
f()

In [ ]:
def f():
    print('hello')

In [ ]:
f()

In [ ]:
help(print)

In [ ]:
i = 10

In [ ]:
if i==10:
    pass

In [ ]:
print(i)

In [ ]:
str(i)

In [ ]:
float(i)

In [ ]:
j = float(i)

In [ ]:
i + j

In [ ]:
typeof(j)

In [ ]:
type(j)

In [ ]:
delete(10)

In [ ]:
del(10)

In [ ]:
del i

In [ ]:
i

In [ ]:
clear

In [ ]:
#bitwise (binary operations)

In [ ]:
a = 120
b = 263
print(a & b)

In [ ]:
a^b

In [ ]:
a/b

In [ ]:
b>>1

In [ ]:
a<<2

In [ ]:
~a

In [ ]:
if a:
    print (a)

In [ ]:
if not a :
    print('not a')

In [ ]:
import this

In [ ]:
type = print

In [ ]:
type('hello world')

In [ ]:
print = type

In [ ]:
type ('hello world')

In [ ]:
print

In [ ]:
docstring

In [ ]:
listdata = [i*i for i in range(1, 5)]
print(listdata) #[1, 4, 9, 16]
 
dictdata = {i:i**i for i in range(1, 5)}
print(dictdata) #{1:1, 2:4, 3:9, 4:16}

In [ ]:
data = [ '343', 2343, 243, '3r43']

In [ ]:
x = 'facebook'

In [ ]:
y = 'instagram'

In [ ]:
z = 'whatsapp'

In [ ]:
facebook = [x,y,z]

In [ ]:
facebook

In [ ]:
for i in facebook:
    print (i)

In [ ]:
facebook[0]

In [ ]:
facebook[0][2]

In [ ]:
for i in range (0,5):
    for j in range (i):
        print (i*j)

In [ ]:
sorted ('chaitanya')

In [ ]:
sorted (234, 4343, 342342 ,-32424)

In [ ]:
list = [1,23,2343,343,-474]

In [ ]:
sorted (list)

In [ ]:
listsorted = sorted (list)

In [ ]:
listsorted

In [ ]:
help(for)

In [ ]:
help(print)

In [ ]:
help()

In [ ]:
a = 1
a = a+1
a**2

In [ ]:
a

In [ ]:
quit()

In [ ]:
a

In [ ]:
a = a+1

In [1]:
a = 1
a = a+1
a ** 2

4

In [2]:
for i in range(5):
    print (i)

0
1
2
3
4

In [3]:
for i in range (4):
    for j in range(i):
        print (i+j)

1
2
3
3
4
5

In [4]:
name = 'Chaitanya'

In [7]:
for i in range(len(name)):  #here the length of chaitanya (9) is stored inside range
    print(name[i]) #name[i] prints the values taking starting value 0 to 8.. name[0] as C, name[1] as h....

C
h
a
i
t
a
n
y
a

In [10]:
for i in range(0,5):
    print(name[i])

C
h
a
i
t

In [11]:
list

list

In [12]:
list = [1,2]

In [13]:
list.delete(0)

AttributeError: 'list' object has no attribute 'delete'

In [14]:
list.delete[1]

AttributeError: 'list' object has no attribute 'delete'

In [15]:
listc = ('netflix', 'prime', 'hotstar', ['zee5', 'disney'], 'hbo', 'tv+', 'hbo')

In [16]:
listc[3][0] = 'zee television'

In [17]:
listc

('netflix',
 'prime',
 'hotstar',
 ['zee television', 'disney'],
 'hbo',
 'tv+',
 'hbo')

In [18]:
x = 45, 65, 454

In [19]:
x

(45, 65, 454)

In [20]:
type(x)

tuple

In [22]:
## __doc__()

In [23]:
#print(funcf.__doc__)