In [1]:
import sqlite3

In [11]:
con = sqlite3.connect('chinook.db') #creating  a connection

In [12]:
cur = con.cursor() #creating a cursor

In [13]:
query = """ select name from sqlite_master where type = "table" """

In [14]:
cur.execute(query)

In [15]:
cur.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [16]:
import sqlite3

In [17]:
con = sqlite3.connect('sports.db')

In [18]:
curb = con.cursor()

In [19]:
q = "Create table players (id integer primary key, name text, sport text, earn real, country text)"

In [20]:
curb.execute(q)

In [24]:
q = "insert into players values (12, 'federer', 'tennis', 40506000, 'swiss')"

In [25]:
con.commit()

In [26]:
curb.execute(q)

IntegrityError: UNIQUE constraint failed: players.id

In [27]:
q = "insert into players (id, name, sport, earn, country) values (?, ?, ?, ?, ?)"

In [28]:
curb.execute(q, [14, 'serena', 'wimbledon', 3467080, 'brazil'])

In [29]:
con.commit()

In [30]:
lista = [16, 'lebron', 'basketball', 4089620, 'U.S.']

In [42]:
listb = [20, 'Smriti Mandhana', 'Cricket', 1205422, 'India']

In [32]:
lisc = [18, 'Saina', 'Badminton', 852152, 'India']

In [33]:
tupa = (lista, listb, listc)

NameError: name 'listc' is not defined

In [46]:
tupa = (lista, listb, lisc)

In [35]:
listd = [ 22, 'Ronaldo', 'Football', 680234, 'Portugal']

In [45]:
curb.execute(q, listd)

IntegrityError: UNIQUE constraint failed: players.id

In [44]:
con.commit()

In [47]:
curb.executemany(q, tupa)

IntegrityError: UNIQUE constraint failed: players.id

In [43]:
con.commit()

In [48]:
q = "update players set name = 'RON' where id = 22"

In [54]:
curb.execute(q)

In [50]:
con.commit()

In [58]:
q = "select * from players"

In [66]:
curb.execute(q)

In [60]:
curb.fetchall()

[(12, 'federer', 'tennis', 40506000.0, 'swiss'),
 (14, 'serena', 'wimbledon', 3467080.0, 'brazil'),
 (16, 'lebron', 'basketball', 4089620.0, 'U.S.'),
 (18, 'Saina', 'Badminton', 852152.0, 'India'),
 (20, 'Smriti', 'Cricket', 1205422.0, 'India'),
 (22, 'RON', 'Football', 680234.0, 'Portugal')]

In [67]:
data = curb.fetchall()

In [68]:
import time

In [69]:
for rec in data:
    print(rec)
    time.sleep(1)

(12, 'federer', 'tennis', 40506000.0, 'swiss')
(14, 'serena', 'wimbledon', 3467080.0, 'brazil')
(16, 'lebron', 'basketball', 4089620.0, 'U.S.')
(18, 'Saina', 'Badminton', 852152.0, 'India')
(20, 'Smriti', 'Cricket', 1205422.0, 'India')
(22, 'RON', 'Football', 680234.0, 'Portugal')